<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_IIntelService" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://eve-intel.cs/IntelService.svc/service"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IIntelService"
                contract="IntelService.IIntelService" name="WSDualHttpBinding_IIntelService">
                <identity>
                    <servicePrincipalName value="host/DESKTOP-G7G4KJF" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>