<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    <compilation debug="true" />
  </system.web>

  <system.serviceModel>
    <services>
      <service name="eve_intel_server.IntelService" behaviorConfiguration="behavior">
        <endpoint address ="service" binding="wsDualHttpBinding" contract="eve_intel_server.IIntelService"/>
        <!-- Enable the MEX endpoint -->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <!-- Need to add this so MEX knows the address of our service -->
        <host>
          <baseAddresses>
            <add baseAddress ="http://eve-intel.cs"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <!-- A behavior definition for MEX -->
    <behaviors>
      <serviceBehaviors>
        <behavior name="behavior" >
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
